/* Fonts */
	
	@import url('https://fonts.googleapis.com/css?family=Marmelad&subset=cyrillic');

/* Stylesheet */
	
	body {
		font-family: 'Open Sans', sans-serif;
		margin: 0px;
	}

	a {
		color: inherit;
	}

	h1, h2, h3, h4, h5, h6 {
		letter-spacing: 0.04em;
		line-height: 1em;
		margin: 0 0 1em 0;
	}

	h1, h2 {
		font-family: 'Marmelad', sans-serif;
	}

	p {
		display: block;
		margin: 1em 0em;
	}

	hr {
		margin: 2em 0;
	}

/* Header block */
	#header {
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../img/banner-1.png);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	#header {
		color: #fff;
		text-align: center;
		padding: 6em 3em 3em 3em;
		height: auto;
		min-height: 0;
	}

		#header h1 {
			font-size: 3em;
		}

		#header a {
			text-decoration: none;
		}

		#header p {
			font-size: 1.5em;
		}

/* blocks */
	section.block {
		text-align: center;
		padding: 3em 1em 0em 1em;
	}

		.block h2 {
			font-size: 1.5em;
		}

		.block-pic {
			position: relative;
			margin: 0px auto;
			height: 250px;
		}

		.block-img {
			background-size: cover;
			animation: fade 10s infinite;
			-webkit-animation: fade 10s infinite;
			position: absolute;
			width: 100%;
			height: 100%;
		}

		.block p {
			text-align: center;
			font-size: 1em;
			line-height: 1.7em;
			font-weight: 300;
			margin: 1em auto;
		}

		.block-cta {
			background: #DDDDDD;
			width: 70%;
			margin: 2em auto;
			border-radius: 10px;
			padding: 0.5em;
		}

		.block hr {
			border: 0;
    		border-bottom: solid 1px #DDDDDD;
    		margin: 0;
		}
	section.gray {
		background: #EBEBEB
	}
		.gray .block-cta {
			background-color: #666666;
			color: #FFFFFF;
		}
	
		.countdown h1 {
			border: 1px dashed #AAAAAA;
			border-radius: 10px;
			padding: 0.5em;
			font-size: 2em;
		}
	section.contact {
		background-color: #333333;
		color: #EEEEEE;
		padding-bottom: 1em;
	}
		.contact .bullet_point {
			margin-bottom: 5px;
		}

		.contact .bullet_bullet {
			width: 20%;
			font-size: 1em;
			padding-top: 0px;
		}
		.contact .bullet_text {
			width: 68%
		}
		.contact .block-cta {
			color: #333333;
		}
/* Bulleted list section*/
		.bullet_point {
			width: 100%;
			margin-bottom: 15px;
		}
		.bullet_bullet {
			width: 10%;
			display: inline-block;
			vertical-align: top;
			text-align: right;
			padding-top: 5px;
			font-size: 1.2em;
		}
		.bullet_text {
			display: inline-block;
			width: 78%;
			text-align: left;
			padding-left: 10px;
		}
/* Trust me */
	#trust_me {
		text-align: center;
		padding: 3em 2em 0em 2em;
		background-color: #333333;
		color: #ffffff;
	}

		
		#trust_me h2 {
			font-family: 'Open Sans', sans-serif;
			font-size: 2em;
		}

		#trust_me p {
			text-align: left;
			font-size: 0.9em;
		}
